#header-wraper {
  background: #f9f9ff;
  /* background: #444; */
  box-shadow: 0 0.14vh 0.28vh 0 rgb(190, 190, 190);
  height: 9vh;
  -webkit-perspective: 1000;
}

.header-icon {
  display: inline-block;
  font-weight: 200;
  padding: 0.2vh 3vw;
}

#header-text {
  font-size: 6vh;
  color: #886e69;
}

#header-code {
  font-size: 2.5vh;
  cursor: default;
  margin-left: 0.72vh;
}

/* delete this after ending notes */
#header-code {
  position: relative;
}
#header-code span {
  position: absolute;
  display: none;
  top: -2.15vh;
  background: #2c2b2d;
  color: #ddd;
  padding: 0.72vh 2.44vh;
  line-height: 1.3em;
  border-radius: 2.87vh;
  opacity: 0.9;
  width: 86vh;
  z-index: 5;
  height: 70vh;
  overflow-y: auto;
}
#header-code .roshan {
  display: inline-block;
  animation: 0.3s fadeIn ease-in-out;
}

#header-logo {
  float: right;
  margin-top: 1vh;
  height: 6vh;
}