#form-panel {
  margin-top: 5vh;
}

.form-panel-item {
  display: inline-block;
  width: 7.2vh;
  height: 7.2vh;
  background: #6c9;
  border-radius: 0.71vh;
  text-align: center;
  margin: 0.7vh;
  cursor: pointer;
  position: relative;
  padding-top: 2vh;
}

/* the number is to prevent same names */
.active123456 {
  background: rgb(6, 240, 189);
}

.form-panel-item:hover {
  background: rgb(78, 160, 119);
}

.form-panel-item-desc {
  display: none;
  position: absolute;
  background: #333;
  color: #eee;
  padding: 0.43vh 0;
  text-align: center;
  border-radius: 0.72vh;
  top: 1.7vh;
  left: -9.5vw;
  opacity: 0.9;
  width: 17.26vh;
}

.form-panel-item:hover .form-panel-item-desc {
  display: block;
  animation: formPanelItemDescAnim 0.3s ease-in-out;
}

@keyframes formPanelItemDescAnim {
  from{
    opacity: 0;
    left: -9vw;
  }
  to {
    opacity: 0.85;
    left: -9.5vw;
  }
}

