#form-panel {
  margin-left: 1.7em;
  bottom: 0;
  /* position: absolute; */
}

.form-panel-item {
  display: inline-block;
  width: 7.2vh;
  height: 7.2vh;
  background: #6c9;
  border-radius: 0.71vh;
  text-align: center;
  margin: 0 1vh;
  cursor: pointer;
  position: relative;
}

.form-panel-item:hover {
  background: rgb(78, 160, 119);
}

.form-panel-item-desc {
  display: none;
  position: absolute;
  background: #333;
  color: #eee;
  padding: 0.43vh 0;
  text-align: center;
  border-radius: 0.72vh;
  top: -5.3vh;
  right: -5.3vh;
  opacity: 0.9;
  width: 17.26vh;
}

.form-panel-item:hover .form-panel-item-desc {
  display: block;
  animation: formPanelItemDescAnim 0.3s ease-in-out;
}

@keyframes formPanelItemDescAnim {
  from{
    opacity: 0;
    top: -3.6vh;
  }
  to {
    opacity: 0.9;
    top: -5.03vh;
  }
}
